{$HUMANA_DOMAIN} {
  encode gzip

  handle /auth/* {
    reverse_proxy kong:8000
  }
  handle /rest/* {
    reverse_proxy kong:8000
  }
  handle /storage/* {
    reverse_proxy kong:8000
  }
  handle /functions/* {
    reverse_proxy kong:8000
  }
  handle /realtime/* {
    reverse_proxy kong:8000
  }

  reverse_proxy web:80
}
